{
    Checks: [
        '-*',
        'bugprone-*',
        'cppcoreguidelines-*',
        'clang-analyzer-*',
        'clang-diagnostics-*',
        'modernize-*',
        'readability-*',
    ]
    WarningsAsErrors: '*'
}